* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/universe.gif");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 3s;
}

.pop {
  width: 300px;
  height: 500px;
  margin-top: 10%;
  margin-left: 25%;
  position: absolute;
}

.contenedor {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  transform: rotateZ(0deg);
  animation-name: move_cabeza;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: play;
  transition: rotate 3s ease-in;
}

.oreja {
  width: 40px;
  height: 60px;
  margin-top: 100px;
  margin-left: 10px;
  background-color: #DBDED7;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0px 0px 5px #909090,
              0px 0px 15px #909090;
  position: absolute;
}

.oreja2 {
  width: 40px;
  height: 60px;
  margin-top: 100px;
  margin-left: 250px;
  background-color: #DBDED7;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0px 0px 5px #909090,
              0px 0px 15px #909090;
  position: absolute;
}

.cabeza {
  width: 250px;
  height: 204px;
  margin-left: 25px;
  margin-top: 1px;
  background-color: #DBDED7;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  box-shadow: 0px 0px 5px #909090,
              0px 0px 15px #909090;
  position: absolute;
}

.parte-morada {
  width: 220px;
  height: 68px;
  margin-top: -2px;
  margin-left: 40px;
  background-color: #B15B88;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: absolute;
}

.parte-morada2 {
  width: 160px;
  height: 90px;
  margin-left: 70px;
  background-color: #B15B88;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: absolute;
}

.parte-morada3 {
  width: 70px;
  height: 45px;
  margin-left: 34px;
  margin-top: 11px;
  background-color: #B15B88;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: absolute;
}

.oculta {
  width: 45px;
  height: 45px;
  margin-left: 29px;
  margin-top: 48px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta2 {
  width: 45px;
  height: 45px;
  margin-left: 26px;
  margin-top: 41px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta3 {
  width: 40px;
  height: 40px;
  margin-left: 26px;
  margin-top: 36px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta4 {
  width: 30px;
  height: 30px;
  margin-left: 29px;
  margin-top: 33px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta5 {
  width: 25px;
  height: 25px;
  margin-left: 28px;
  margin-top: 29px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta6 {
  width: 19px;
  height: 19px;
  margin-left: 29px;
  margin-top: 25px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta7 {
  width: 45px;
  height: 45px;
  margin-left: 226px;
  margin-top: 48px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta8 {
  width: 45px;
  height: 45px;
  margin-left: 230px;
  margin-top: 41px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta9 {
  width: 40px;
  height: 40px;
  margin-left: 235px;
  margin-top: 36px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta10 {
  width: 30px;
  height: 30px;
  margin-left: 240px;
  margin-top: 33px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta11 {
  width: 25px;
  height: 25px;
  margin-left: 245px;
  margin-top: 29px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta12 {
  width: 19px;
  height: 19px;
  margin-left: 250px;
  margin-top: 25px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.oculta13 {
  width: 13px;
  height: 15px;
  margin-left: 255px;
  margin-top: 22px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}

.ojo {
  background-color: black;
  width: 45px;
  height: 45px;
  margin-top: 90px;
  margin-left: 55px;
  border-radius: 50%;
  position: absolute;
}

.ojo-centro {
  background: radial-gradient(closest-side, white, black);
  width: 17px;
  height: 17px;
  margin-top: 95px;
  margin-left: 75px;
  border-radius: 50%;
  position: absolute;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.ojo2 {
  background-color: black;
  width: 45px;
  height: 45px;
  margin-top: 90px;
  margin-left: 200px;
  border-radius: 50%;
  position: absolute;
}

.ojo-centro2 {
  background: radial-gradient(closest-side, white, black);
  width: 17px;
  height: 17px;
  margin-top: 95px;
  margin-left: 222px;
  border-radius: 50%;
  position: absolute;
}

.nariz {
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 22px solid #B6B7B2;
  margin-top: 140px;
  margin-left: 143px;
  position: absolute;
}


.lagrima {
  width: 15px;
  height: 53px;
  margin-left: 65px;
  margin-top: 133px;
  background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: skewX(5deg);
  position: absolute;
}

.oculta-lagrima {
  width: 15px;
  height: 53px;
  margin-left: 67px;
  margin-top: 135px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: skewX(5deg);
  position: absolute;
}

.lagrima2 {
  width: 15px;
  height: 53px;
  margin-left: 218px;
  margin-top: 133px;
  background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: skewX(-5deg);
  position: absolute;
}

.oculta-lagrima2 {
  width: 15px;
  height: 53px;
  margin-left: 216px;
  margin-top: 135px;
  background-color: #DBDED7;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: skewX(-5deg);
  position: absolute;
}

.cuerpo {
  width: 300px;
  height: 453px;
  position: absolute;
  animation-name: walk;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;;
  animation-play-state: play;
  transition: rotate 3s ease-in;
}

.rigthB {
  width: 350px;
  height: 330px;
  //border: 1px solid red;
  margin-top: 178px;
  margin-left: -25px;
  position: absolute;
}

.leftB {
  width: 350px;
  height: 310px;
  //border: 1px solid red;
  margin-top: 178px;
  margin-left: -8px;
  position: absolute;

  /*animation-name: hand_up;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;;
  animation-play-state: play;
  transition: rotate 3s ease-in-out;*/
}

.rigthP {
  width: 350px;
  height: 350px;
  //border: 1px solid red;
  margin-top: 165px;
  margin-left: -21px;
  position: absolute;
}

.leftP {
  width: 335px;
  height: 350px;
  //border: 1px solid red;
  margin-top: 135px;
  margin-left: -28px;
  position: absolute;
}

.tronco {
  width: 480px;
  height: 500px;
  //border: 1px solid red;
  margin-top: 37px;
  margin-left: -80px;
  position: absolute;
}

.cola {
  width: 480px;
  height: 500px;
  //border: 1px solid red;
  margin-top: 68px;
  margin-left: -47px;
  position: absolute;
  transform: skewY(0deg);
  animation-name: move_cola;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: play;
  transition: skewY 3s ease-in;
}

.pecho {
  width: 350px;
  height: 280px;
  //border: 1px solid red;
  margin-top: 178px;
  margin-left: -31px;
  position: absolute;
}

.mMR {
  width: 340px;
  height: 340px;
  //border: 1px solid red;
  margin-top: 170px;
  margin-left: -18px;
  position: absolute;
}

.mML {
  width: 320px;
  height: 320px;
  margin-top: 173px;
  margin-left: 4px;
  position: absolute;
}

.mBR {
  width: 350px;
  height: 350px;
  margin-top: 165px;
  margin-left: -23px;
  position: absolute;
}

.mBL {
  width: 350px;
  height: 350px;
  //border: 1px solid red;
  margin-top: 158px;
  margin-left: -21px;
  position: absolute;
}

.mPR {
  width: 350px;
  height: 350px;
  //border: 1px solid red;
  margin-top: 132px;
  margin-left: -47px;
  position: absolute;
}

.mPL {
  width: 350px;
  height: 350px;
  margin-top: 154px;
  margin-left: 1px;
  position: absolute;
}

.resplandor {
  width: 360px;
  height: 525px;
  margin-top: 8.5%;
  margin-left: 22.7%;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.resplandor:hover {
  animation-name: enciende;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: play;
  transition: border 3s ease-in;
}

.resplandor:active {
  animation-name: power, fondo2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;;
  animation-play-state: play;
  transition: width 1s ease-in-out;
}


@keyframes move_cola{
  75% {
    transform: skewX(7deg);
  }
}

@keyframes move_cabeza{
  25% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
}

@keyframes walk{
  25% {
    transform: skewX(-1.7deg);
  }
  75% {
    transform: skewX(1.7deg);
  }
}

@keyframes ojos{
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}

@keyframes ojos-centro{
  0% {
    background: radial-gradient(closest-side, white, red);
    transform: translate(-10px,5px);
    width: 22px;
    height: 22px;
  }

  100% {
    background: radial-gradient(closest-side, white, black);
  }
}

@keyframes lagrimas{
  0% {
    background-color: red;
  }

  100% {
    background-color: black;
  }
}


@keyframes enciende{
  50% {
    box-shadow: 0px 0px 15px purple,
                0px 0px 25px pink,
                0px 0px 35px yellow;
  }

}

/*@keyframes fondo2{
  100%{
    background-image: url("../img/universe3.gif");
  }
}*/

@keyframes power{
  50% {
    box-shadow: 0px 0px 15px purple,
                0px 0px 25px pink,
                0px 0px 35px yellow;
  }
  100% {
    box-shadow: 0px 0px 35px purple,
                0px 0px 45px pink,
                0px 0px 55px purple,
                0px 0px 105px yellow;
  }
}

@keyframes hand_up {
  50% {
    transform: rotateZ(-5deg);
    transform: perspective(45deg);
  }
}
